.round {  
    width: 100px; 
    height: 80px; 
    border-radius: 50% 
}

label {
    margin-left: 10px;
    font-weight: bold;
    color: gold;
    font-size: large;
}

.right {
    float: right;
    margin-top: 20px;
}

.dib {
    display: inline-block;
}

.mr {
    margin-right: 40px;
}