<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img [attr.src]="server+world.logo" />
  <span id="worldname"> {{world.name}} </span>
  <span id="worldmoney"> {{world.money}} </span>
  <span id="worldscore"> {{world.score}} </span>
  <span id="worldproducts"> {{world.products}} </span>

  <app-product [prod]="world.products.product[0]" class="product col-md-6"></app-product>

  <span id="worldallunlocks"> {{world.allunlocks}} </span>
  <span id="worldupgrades"> {{world.upgrades}} </span>
  <span id="worldangel"> {{world.angelupgrades}} </span>
</div>

