.round {  
    width: 100px; 
    height: 80px; 
    border-radius: 50% 
}

label {
    margin-left: 10px;
    font-weight: bold;
    color: gold;
    font-size: large;
}

.right {
    float: right;
    margin-top: 20px;
}

.dib {
    display: inline-block;
}

.mr {
    margin-right: 40px;
}

.buy {
    background-color: #592d81;
    color: white;
}

.bts {
    background-color: #7743a7;
    color: white;
}

.bts:hover {
    background-color: #4a266b;
}