<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img [attr.src]="server+world.logo" />
  <span id="worldname"> {{world.name}} </span>
  <span id="worldmoney"> {{world.money | bigvalue}} </span>
  <span id="worldscore"> {{world.score}} </span>

  <div *ngFor="let product of this.world.products.product">
    <app-product [prod]="product" class="product col-md-6"></app-product>
  </div>

  <div class="button">
    <button>Unlocks</button>
    <button>Cash Upgrades</button>
    <button>Angel Upgrades</button>
    <button>Managers</button>
    <button>Investors</button>
</div>

</div>