
  <div class="card bg-light mb-6" style="width: 18rem;">
      <div class="card-header">
        <h5 class="card-title">{{product.quantite}} x {{product.name}}</h5>
      </div>
      <img class="card-img-top" [attr.src]="this.getImage()" width="80%" (click)="startFabrication()" style="cursor:pointer"/>
      <div class="card-body">
        Earn {{revenu}} €
        <div class="progress" #bar ></div>
        <div class="bg-light text-dark" >{{product.vitesse}} ms</div><br>
        <button id=buyBtn{{product.id}} class="btn btn-warning" (click)="updateBuy()">Buy {{rateProd}} for <span [innerHTML] = "currentcout | bigvalue"></span> €</button>
      </div>
    </div>
