
  <div class="card border-light bg-light mb-6 shadow-lg" style="width: 18rem;">

        <h5 class="card-title mt-3">{{product.quantite}} x {{product.name}}</h5>

      <img class="card-img-top" [attr.src]="this.getImage()" width="80%" (click)="startFabrication()" style="cursor:pointer"/>
      <div class="card-body">
        Earn {{revenu}} €
        <div class="progress" #bar ></div>
        <div class="bg-light text-dark" id="temps{{product.id}}">00:00:{{temps}}</div><br>
        <button id=buyBtn{{product.id}} class="btn btn-warning" (click)="updateBuy()">Buy {{rateProd}} for <span [innerHTML] = "currentcout | bigvalue"></span> €</button>
      </div>
    </div>
